%nav.navbar.navbar-default{role: "navigation"}
  .navbar-header
  #collapse.navbar-collapse
    %a.navbar-brand{href: "#"} さくらマーケット
    %ul.nav.navbar-nav
      %li
        = link_to "日記を見る", "#"
      %li
        = link_to "お買い物", "#"
      %li
        = link_to "ショッピングカート", "#"
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li
          = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %li
          = link_to "ユーザ登録", new_user_registration_path
        %li
          = link_to "ログイン", new_user_session_path

.container
  - if user_signed_in?
    %strong= current_user.name
    = current_user.address
    %p= link_to "プロフィールを編集する", edit_user_registration_path, class: 'navbar-link'
